@media screen and (min-width:320px) and (max-width:480px){
  
}

@media  screen and (min-width:481px) and (max-width:768px) {
  
}

@media  screen and (min-width:769px) and (max-width:1000px) {
  
}

@media  screen and (min-width:1001px) and (max-width:1280px) {
  
}

@media screen and (max-width:420px) {
  .carts {
    flex-direction: column;
    width: 100%;
  }
}

@media  screen and (min-width:421px) and (max-width:950px) {
  .carts{
    flex-direction: column;
    width: 45%;
  }
}


@media screen and (max-width:420px) {
  .subscribe {
    flex-wrap: wrap;
  }
}

