@media screen and (min-width:320px) and (max-width:480px){
  
}

@media  screen and (min-width:481px) and (max-width:768px) {
  
}

@media  screen and (min-width:769px) and (max-width:1000px) {
  
}

@media  screen and (min-width:1001px) and (max-width:1280px) {
  
  
}

@media screen and (max-width:420px) {
  .carts {
    flex-direction: column;
    width: 100%;
  }
}

@media  screen and (min-width:421px) and (max-width:950px) {
  .carts{
    flex-direction: column;
    width: 45%;
  }
}

@media screen and (max-width:420px) {
  .subscribe {
    flex-wrap: wrap;
  }
}

@media screen and (max-width:1091px) {
  .top-bar ul {
    display: none;
  }
  .top-bar .icons {
    display: none;
  }

  .top-bar .img-nav {
    margin: 20px auto;

  }

  .hor-menu {
    visibility: visible;
  }

}

@media  screen and (max-width:450px) {
  .center {
    display: flex;
    justify-content: center;
  }

  .cart img {
    width: 68%;
  }
}

@media  screen and (max-width:1000px)  {
  .cart {
    flex-wrap: wrap;
  }

  .cart img {
    margin: 0 auto;
  }

  .row .col-3 {
    flex-basis: 50%;
    padding: 21px;

  }

  .text-items {
    padding: 0px;
  }

  .mega-menu {
    padding: 0px;
  }

  .mega-menu .menu {
    margin: 0px;
  }

  .social {
    padding: 0px;
  }

  
}
