* {
  box-sizing: border-box;
}

.col-1 {
  flex: 8.3% 0 0;
}
.col-2 {
  flex: 16.6% 0 0;
}
.col-3 {
  flex: 25% 0 0;
}
.col-4 {
  flex: 33.3% 0 0;
}
.col-5 {
  flex: 41.6% 0 0;
}
.col-6 {
  flex: 50% 0 0;
}
.col-7 {
  flex: 58.3% 0 0;
}
.col-8 {
  flex: 66.6% 0 0;
}
.col-9 {
  flex: 75% 0 0;
}
.col-10 {
  flex: 83% 0 0;
}
.col-11 {
  flex: 91.6% 0 0;
}
.col-12 {
  flex: 100% 0 0;
}

.container {
  max-width: 1257px;
  margin: 34px auto;
}

.top-bar ul {
 display: flex;
 list-style-type: none;
 
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.header{
   display: flex;
   align-items: center;

}

.top-bar ul li {
  padding: 11px;
}

.top-bar ul li a {
padding: 0;
}

.img-nav {
  width: 80px;
  height: 25px;
  margin-left: 211px;
}

.icons {
  margin-left: 574px;
  margin-top: 5px;
}

.top-bar .icons img {
 width: 18px;
 height: 20px;
 margin-left: 5px;
}

.header-open {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url(/image/Rectangle.jpg);
    width: 100%;
    height: 71vh;
    background-repeat: no-repeat;
}

.header-open button {
   padding: 13px 39px;
 background: #56593D;
   float: right;
   border: 0;
   color: #fff;
}

.header-item {
  margin-right: 40px;
  margin-bottom: 34px;
}

.quote {
  display: flex;
  width: 100%;
  justify-content: center;

}

.quote h2 {
  margin: 66px;
    letter-spacing: 5px;
    line-height: 53px;
    font-weight: bold;
    font-size: 36px;
}

.carts {
   display: flex;
   justify-content: space-between;
   margin-bottom: 62px;
} 

.cart-items {
  text-align: center;
}

.header-blue-img {
  background-image: url(/image/Blue_header.jpg);
  background-position: center;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 61px;
}

.header-blue-img .header-item h1 {
  width: 623px;
}


.left-carts .cart {
   display: flex;
}

.left-carts img {
  width: 46%;
}

.left-carts .cart-items {
  width: 100%;
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left-carts .cart-items p {
  width: 38%;
  
}

.left-carts.right{
  display: flex;
  flex-direction: row-reverse;
}

.left-carts.right-carts .cart {
  flex-direction: row-reverse;
}

.mar-bot {
  margin-bottom: 188px;
}

.subscribes {
  text-align: center;
}

.subscribes .subscribe{
  display: flex;
  justify-content: center;
  align-items: center;

}

.subscribe .line {
  width: 300px;
  height: 5px;
  background-color: #56593D;
  margin-right: 21px;
}

.subscribe button {
  background-color: #56593D;
  color: #fff;
  font-size: 13px;
}

.row {
  display: flex;
}

.row img {
  height: 79%;
  width: 100%;
  padding: 3px;
}