* {
  box-sizing: border-box;
}

.container {
  max-width: 1257px;
  margin: 34px auto;
}

.top-bar ul {
 display: flex;
 list-style-type: none;
 
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.header{
   display: flex;
   align-items: center;

}

.top-bar ul li {
  padding: 11px;
}

.top-bar ul li a {
padding: 0;
}

.img-nav {
  width: 80px;
  height: 25px;
  margin-left: 211px;
}

.icons {
  margin-left: 574px;
  margin-top: 5px;
}

.top-bar .icons img {
 width: 18px;
 height: 20px;
 margin-left: 5px;
}

.header-open {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url(/image/Rectangle.jpg);
    width: 100%;
    height: 71vh;
    background-repeat: no-repeat;
}

.header-open button {
   padding: 13px 39px;
 background: #56593D;
   float: right;
   border: 0;
   color: #fff;
}

.header-item {
  margin-right: 40px;
  margin-bottom: 34px;
}

.quote {
  display: flex;
  width: 100%;
  justify-content: center;

}

.quote h2 {
  width: 609px;
  margin: 66px;
}